<div class="container mt-3">
  <div class="mb-3">
    <select class="form-select" [(ngModel)]="selectedRubroId" (change)="onRubroSelected()">
      <option value="" disabled selected>--Seleccione el Rubro--</option>
      <option *ngFor="let rubro of rubros" [value]="rubro.id">{{rubro.denominacion}}</option>
    </select>
  </div>
  <div class="mb-3">
    <button class="btn btn-primary" (click)="onAdd()">Agregar Articulo</button>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Código</th>
        <th>Denominación</th>
        <th>Precio</th>
        <th>Rubro</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let articulo of articulos">
        <td>{{articulo.codigo}}</td>
        <td>{{articulo.denominacion}}</td>
        <td>{{articulo.precio}}</td>
        <td>{{articulo.idrubro}}</td>
        <td>
          <button class="btn btn-secondary me-2" (click)="onEdit(articulo)">Editar</button>
          <button class="btn btn-danger me-2" (click)="onDelete(articulo)">Eliminar</button>
          <button class="btn btn-info" (click)="onView(articulo)">Ver</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
