<div class="container w-50 my-5">
  <h1 class="text-center">{{ titulo }}</h1>
  <form [formGroup]="articuloForm" (ngSubmit)="onSubmit()">
    <div *ngIf="articuloForm.controls['id'].value" class="form-group">
      <label for="id">ID</label>
      <input id="id" type="text" class="form-control" formControlName="id" readonly>
    </div>
    <div class="form-group">
      <label for="codigo">Código</label>
      <input id="codigo" type="text" class="form-control" formControlName="codigo" placeholder="Ingrese el código del artículo">
      <div *ngIf="showAlert" class="alert alert-danger">
        Este código ya está asignado a otro artículo.
      </div>
    </div>
    <div class="form-group">
      <label for="denominacion">Denominación</label>
      <input id="denominacion" type="text" class="form-control" formControlName="denominacion" placeholder="Ingrese la denominación del artículo">
    </div>
    <div class="form-group">
      <label for="precio">Precio</label>
      <input id="precio" type="number" class="form-control" formControlName="precio" placeholder="Ingrese el precio de venta que tendrá el articulo">
    </div>
    <div class="form-group">
      <label for="idrubro">Rubro</label>
      <select id="idrubro" class="form-control" formControlName="idrubro">
        <option value="" disabled selected>--Seleccione el Rubro--</option>
        <option *ngFor="let rubro of rubros" [value]="rubro.id">{{ rubro.denominacion }}</option>
      </select>
    </div>
    <div class="my-3">
      <button type="submit" class="btn btn-primary" [disabled]="showAlert">Guardar</button>
      <button type="button" class="btn btn-secondary mx-2" (click)="onCancel()">Cancelar</button>
    </div>
  </form>
</div>
